.formContainer{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

.formContainer h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.formTextContainer{
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.formInput {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.formButton {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0404;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formButton:hover {
    background-color: #800000;
}